.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.terminal {
  text-align: left;
  background: black;
  display: auto;
  font-size: 1rem;
  border: .1rem solid grey;
  min-height: 20rem;
}

.terminal .header {
  justify-content: left;
  background-color: grey;
  padding: .5rem .5rem;
  margin: 0rem;
}

.terminal ul {
  justify-content: left;
  list-style-type: none;
  margin: 0rem;
  color: green;
  padding: 1rem 1rem 0.5rem 1rem;
}
